.ContactDetails {
    display: block;
    width: 80%;
    padding: 20px;
    margin: 15px auto;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.Input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 500px) {
    .Input {
        width: 400px;
    }
}