.Beef {
    color: brown;
    text-align: center;
}

.Pork {
    color: pink;
    text-align: center;
}

.Lamb {
    color: salmon;
    text-align: center;
}

.Seafood {
    color: blue;
    text-align: center;
}

.Salad {
    color: green;
    text-align: center;   
}

.Noodle {
    color: yellow;
    text-align: center;   
}

.Tofu {
    color: wheat;
    text-align: center;
}